.button {
    position: relative;
    background: white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    letter-spacing: 0.25em;
}

.button-blue:hover {
    background: #1e8bff;
    box-shadow: 0 0 35px #1e8bff;
    color: #1e8bff;
}

.button-green:hover {
    background: #6eff3e;
    box-shadow: 0 0 35px #6eff3e;
    color: #6eff3e;
}

.button-red:hover {
    background: #ff1867;
    box-shadow: 0 0 35px #ff1867;
    color: #ff1867;
}


.button:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.button span {
    position: relative;
    z-index: 1;
}

.button i {
    position: absolute;
    inset: 0;
    display: block;
}

.button i:before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.button:hover i:before {
    width: 20px;
    left: 20%;
}

.button i:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.button:hover i:after {
    width: 20px;
    left: 80%;
}

